# Data
data/
*.csv
*.jq
config.json

# Fichier Mac
.DS_Store
*.icloud

# PYTHON
__pycache__
test.py

# Fichier intermédiaire
df_backup_acheteur
df_backup_cpv
df_nettoye
df_reorganisation

#config vscode
.vscode

