{
	"path_to_project" : "/path/to/project",
	"path_to_data" : "data",
	"decp_file_name" : "decp.json",
	"error_siret_file_name" : "errorSIRET.csv",
	"stock_etablissement" : "StockEtablissement_utf8.csv"
	"cpv_2008_ver_2013": "cpv_2008_ver_2013.xlsx"
	"code-insee-postaux-geoflar": "code-insee-postaux-geoflar.csv"


}
