{
	"path_to_project" : "/path/to/project",
	"path_to_data" : "data",
	"decp_file_name" : "decp.json",
	"base_sirene_insee" : "StockEtablissement_utf8.csv",
	"base_ajout_type_entreprise" : "StockUniteLegale_utf8.csv",
	"cpv_2008_ver_2013" : "cpv_2008_ver_2013.xlsx",  
	"base_geoflar" : "geoflar-communes-2015.csv", 
	"departements-francais" : "departements-francais.csv"
}
