---
version: 2
jobs:
  install_requirements:
    docker:
      - image: 139bercy/decp-rama
    resource_class: large
    steps:
      - checkout
      - restore_cache:
          keys:
            - dependencies2-{{ .Branch }}-{{ checksum "requirements.txt"}}
      - run:
          name: Installation des requirements
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - save_cache:
          key: dependencies2-{{ .Branch }}-{{ checksum "requirements.txt"}}
          paths:
            - "venv"

  linter:
    docker:
      - image: 139bercy/decp-rama
    resource_class: large
    steps:
      - checkout
      - restore_cache:
          keys:
            - dependencies2-{{ .Branch }}-{{ checksum "requirements.txt"}}
      - run:
          name: Linter
          command: |
            . venv/bin/activate
            pip install pylint
            PYTHON_FILE="$(ls *.py)"
            pylint $PYTHON_FILE
  get_data_daily:
      docker:
        - image: 139bercy/decp-rama
      resource_class: large
      steps:
        - checkout
        - run: date +%F > date
        - run:
            name: Condition pour les branches
            command: |
              if [ "$CIRCLE_BRANCH" != "master" ]; then
                  if [ $(git diff --name-only master..${CIRCLE_BRANCH} | grep "get-data-daily.sh" | wc -l) = 0 ]; then
                    commit_id_head=$(git log -n1 --format=format:"%H")
                    commit_id_head1=$(git log -n2 --format=format:"%H" | tail -1)
                    if [ $(git diff --name-only ${commit_id_head1} ${commit_id_head} | grep "get-data-daily.sh" | wc -l) = 0 ]; then
                      circleci-agent step halt
                    fi
                  fi
              fi
        - run:
            name: Récupération des données utiles
            no_output_timeout: 1h
            command: |
              bash get-data-daily.sh
        - save_cache:
           key: data-input-daily-{{ checksum "date" }}-{{ checksum "get-data-daily.sh" }}
           paths:
             - "data"

  get_data_weekly:
     docker:
       - image: 139bercy/decp-rama
     resource_class: large
     steps:
       - checkout
       - run: date +%G-%V > date
       - run:
           name: Condition pour les branches
           command: |
             if [ "$CIRCLE_BRANCH" != "master" ]; then
                 if [ $(git diff --name-only master..${CIRCLE_BRANCH} | grep "get-data-weekly.sh" | wc -l) = 0 ]; then
                   commit_id_head=$(git log -n1 --format=format:"%H")
                   commit_id_head1=$(git log -n2 --format=format:"%H" | tail -1)
                   if [ $(git diff --name-only ${commit_id_head1} ${commit_id_head} | grep "get-data-weekly.sh" | wc -l) = 0 ]; then
                     circleci-agent step halt
                   fi
                 fi
             fi
       - run:
           name: Récupération des données utiles
           no_output_timeout: 1h
           command: |
             bash get-data-weekly.sh
       - save_cache:
          key: data-input-weekly-v2-{{ checksum "date" }}-{{ checksum "get-data-weekly.sh" }}
          paths:
            - "data"
  get_data_daily_python:
      docker:
        - image: 139bercy/decp-rama
      resource_class: large
      steps:
        - checkout
        - restore_cache:
            keys:
              - dependencies2-{{ .Branch }}-{{ checksum "requirements.txt"}}
              - dependencies2
        - run:
            name: Daily data Python
            command: |
                . venv/bin/activate
                python3 get_daily_data.py
  get_data_weekly_python:
      docker:
          - image: 139bercy/decp-rama
      resource_class: large
      steps:
        - checkout
        - restore_cache:
            keys:
              - dependencies2-{{ .Branch }}-{{ checksum "requirements.txt"}}
              - dependencies2
        - run:
            name: Weekly data Python 
            command: |
                . venv/bin/activate
                python3 get_data_weekly.py

  gestion_flux:
      docker:
          - image: 139bercy/decp-rama
      resource_class: large
      steps:
        - checkout
        - restore_cache:
            keys:
              - dependencies2-{{ .Branch }}-{{ checksum "requirements.txt"}}
              - dependencies2
        - run:
            name: Gestion des flux
            command: |
                . venv/bin/activate
                python3 gestion_flux.py
  update_file:
      docker:
          - image: 139bercy/decp-rama
      resource_class: large
      steps:
        - checkout
        - restore_cache:
            keys:
              - dependencies2-{{ .Branch }}-{{ checksum "requirements.txt"}}
              - dependencies2
        - run:
            name: Upload des fichiers modifiés sur Saagie
            command: |
              . venv/bin/activate
              python3 update_jobs_for_new_files.py
  nettoyage_flux:
      docker:
          - image: 139bercy/decp-rama
      resource_class: large
      steps:
        - checkout
        - restore_cache:
            keys:
              - dependencies2-{{ .Branch }}-{{ checksum "requirements.txt"}}
              - dependencies2
        - run:
            name: Nettoyage flux
            no_output_timeout: 40m
            command: |
                . venv/bin/activate
                python3 nettoyage.py
  enrichissement_flux:
      docker:
          - image: 139bercy/decp-rama
      resource_class: large
      steps:
        - checkout
        - restore_cache:
            keys:
              - dependencies2-{{ .Branch }}-{{ checksum "requirements.txt"}}
              - dependencies2
        - run:
            name: Enrichissement flux
            no_output_timeout: 40m
            command: |
                . venv/bin/activate
                python3 enrichissement.py

  send:
    docker:
      - image: 139bercy/decp-rama
    resource_class: large
    steps:
      - checkout
      - run: date +%F > date
      - restore_cache:
          keys:
            - data-out-{{ .Branch }}-{{ checksum "date" }}
      - run:
          name: Condition pour les branches
          command: |
            if [ "$CIRCLE_BRANCH" != "master" ]; then
                circleci-agent step halt
            fi
      - run:
          name: Transfert des données vers data.economie
          command: |
            lftp -u ${DEPLOY_USER}:${DEPLOY_PASSWORD} ${DEPLOY_HOST} -e "set ftp:ssl-force true ; set ssl:verify-certificate false; cd decp ; put decp_augmente.csv ; quit"

  
  do_pytest:
    docker:
      - image: 139bercy/decp-rama
    resource_class: large
    steps:
      - checkout
      - restore_cache:
          keys:
            - dependencies2-{{ .Branch }}-{{ checksum "requirements.txt"}}
      - run:
          name: Pytest tests
          command: | 
            . venv/bin/activate
            pytest
  
  
  compute_test:
    docker:
      - image: 139bercy/decp-rama
    resource_class: large
    steps:
      - checkout
      - restore_cache:
            keys:
              - dependencies2-{{ .Branch }}-{{ checksum "requirements.txt"}}
      - run:
          name: Main_test
          command: |
              . venv/bin/activate
              python3 main.py -t True


workflows:
  version: 2
  main:
    jobs:
      - install_requirements
      - do_pytest:
          context:
              - decp-augmente
          requires:
              - install_requirements
      - compute_test:
          context:
               - decp-augmente
          requires:
              - install_requirements
              - do_pytest
      - update_file:
          context:
              - decp-augmente
          requires:
              - compute_test
          filters:
              branches:
                  only: master